

#root {
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width:90%;
 height:80%;
}

.display-panel{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows:min-content auto;
  gap:2rem;
}


.card {
  place-items: center;
  width:200px;
  height:200px;
  background-color: white;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
}
img{
  width:150px;
  height:150px;
}
#Orange{
  /* background-color:url(https://i5.peapod.com/c/AO/AOSGD.jpg); */
}
#Banana{
  background-color:yellow;
}
#Tomato{
  background-color:red;
}
#Apple{
  background-color:white;
}
#Brocolli{
  background-color:darkgreen
}
#Carrot{
  background-color:darkorange;
}
#Lemon{
  background-color:yellow;
}
#BellPepper{
  background-color:darkred;
}
#Onion{
  background-color:white;
}
#Garlic{
  background-color:white;
}
#Grapefruit{
  background-color:pink;
}
#Strawberry{
  background-color:rgb(125, 58, 58)
}
#Potato{
  background-color:brown;
}
#Kiwi{
  background-color:aqua;
}


