*{
  margin:0;
  padding:0;
}
body{
  width: 100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
 display:flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 width:90%;
 height:80%;
}
#title{
  font-size:3rem;
  text-align: center;
}
.scoreBoard{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem;
}

.display-panel{
  padding:2rem;
  place-items: center;
  height:100%;
  width:100%;
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(min(150px, 30%), 1fr));
  grid-template-rows: min-content auto;
  gap:2rem;
}
.gameOver{
  color:red;
  font-size:2rem;
  transition:font-size ease-in-out .5s,color ease-in-out .5s;
}
.post-reset{
  color:white;
  font-size:1rem;
  transition:font-size ease-in-out .5s,color ease-in-out .5s;
}

dialog{
  border-radius: .5rem;
  width:70%;
  position:absolute;
  margin:auto;
  padding:2rem;
}
button{
  position:relative;
  margin:auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left:2rem;
  padding-right:2rem;
  padding:1rem;
  font-weight:600;
}

.card {
  transition:width .3s ease-in-out, height .3s ease-in-out ;

  place-items: center;
  width:150px;
  height:150px;
  background-color: white;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.459);
}
.card:hover{
  width:165px;
  height:165px;
  box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.459);

  transition:width .3s ease-in-out, height .3s ease-in-out,box-shadow .3s ease-in-out ;
  
}
img{
  width:80%;
  height:80%;
}
#Orange{
  /* background-color:url(https://i5.peapod.com/c/AO/AOSGD.jpg); */
}
#Banana{
  background-color:yellow;
}
#Tomato{
  background-color:red;
}
#Apple{
  background-color:white;
}
#Brocolli{
  background-color:darkgreen
}
#Carrot{
  background-color:darkorange;
}
#Lemon{
  background-color:yellow;
}
#BellPepper{
  background-color:darkred;
}
#Onion{
  background-color:white;
}
#Garlic{
  background-color:white;
}
#Grapefruit{
  background-color:pink;
}
#Strawberry{
  background-color:rgb(125, 58, 58)
}
#Potato{
  background-color:brown;
}
#Kiwi{
  background-color:aqua;
}


.clicked{
  border: 5px solid red;
}